<div class="mt-4 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 items-center justify-center ">
  <div #profileAvatar *ngIf="userAvatarUrl"
    class="m-auto relative border-2 overflow-hidden w-60 h-60 rounded-full shadow-xl">
    <img
      class="object-cover object-center"
      *ngIf="userAvatarUrl"
      [src]="userAvatarUrl"
      alt="Profile image"
    />
  </div>
  <div #bioSection
    class="mx-auto flex flex-col md:w-full md:text-left text-center">
    <!-- shows name and bio -->
    <div class=" flex text-4xl font-extrabold mb-4">{{ name }}</div>
    <div  *ngIf="bio" class="py-2 font-medium text-base italic">
      {{ bio }}
    </div>

    <!-- Redirects to location if available -->
    <div *ngIf="location"
      class="py-2 font-normal text-base flex justify-center md:justify-start"
    >
      <img class="w-7 h-7" src="assets\location.png" alt="icon" /><span>
        <a
          class="py-2 ml-2"
          [href]="'https://www.google.com/maps/place/' + location"
          target="_blank"
          >{{ location }}</a
        >
      </span>
    </div>
    <!-- Redirects to twitter handle if available -->
    <div *ngIf="twitter" class="flex py-2 font-normal justify-center md:justify-start">
      <img class="w-7 h-7" src="assets\twitter.png" alt="icon" /><span>
        <a class="py-2 mx-2" [href]="'https://twitter.com/' + twitter " target="_blank"
          >{{ twitter }}</a
        >
      </span>
    </div>
    <!-- Redirects to blog website if available -->
    <div *ngIf="blog"
      class="py-2 font-normal text-base flex justify-center md:justify-start"
    >
      <img class="w-7 h-7" src="assets\web.png" alt="icon" /><span>
        <a class="py-2 ml-2" [href]="blog" target="_blank">{{ blog }}</a>
      </span>
    </div>
    <div *ngIf="htmlUrl"
      class="py-2 font-normal text-base flex justify-center md:justify-start"
    >
      <!-- Redirects to Github profile -->
      <img class="w-8 h-8" src="assets\github.png" alt="" />
      <a class="py-2 ml-2" [href]="htmlUrl" target="_blank"
        >{{ htmlUrl }}</a>
    </div>
  </div>
</div>