<div>
  <div
    class="mt-4 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 items-center justify-center"
  >
    <div
      class="md:mr-24 sm:mr-10 mx-auto relative border-2 overflow-hidden w-60 h-60 rounded-full shadow-xl"
    >
      <ngx-skeleton-loader
        [theme]="{ 'border-radius': '50%', height: '240px', width: '240px' }"
      ></ngx-skeleton-loader>
    </div>

    <div class="mt-4 ">
      <div>
        <ngx-skeleton-loader
          [theme]="{ 'margin-bottom': '16px', height: '40px', width: '240px' }"
        ></ngx-skeleton-loader>
      </div>
      <div>
        <ngx-skeleton-loader
          [theme]="{ height: '24px', width: '200px' }"
        ></ngx-skeleton-loader>
      </div>
      <div>
        <ngx-skeleton-loader
          [theme]="{ height: '24px', width: '150px' }"
        ></ngx-skeleton-loader>
      </div>
      <div>
        <ngx-skeleton-loader
          [theme]="{ height: '24px', width: '200px' }"
        ></ngx-skeleton-loader>
      </div>
      <div>
        <ngx-skeleton-loader
          [theme]="{ height: '24px', width: '90px' }"
        ></ngx-skeleton-loader>
      </div>
    </div>
  </div>
</div>
